# Ignore compiled output
*.o
*.a
bin/

# Ignore CMake output
MakeCache.txt
CMakeCache.txt
CMakeFiles/
src/CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile

# vim swap files
*.swp
*.swo
*.swn
*.cmake
check_*.cc

# logs
valg.log
logfile.txt
