<?xml version="1.0" encoding="utf-8"?>
<freya>
    <settings>
        <connection>
            <ip>000</ip>
            <port>6600</port>
            <host>myFriendIsAMadCow</host>
        </connection>
        <notify>
            <signal>2</signal>
        </notify>
    </settings>
    <plugins>
        <glyr>
            <artimg>5</artimg>
            <artbio>0</artbio>
            <provider>all</provider>
        </glyr>
        <plugindummy>
            <option1>0</option1>
            <option2>5</option2>
            <option3>dummy</option3>
        </plugindummy>
    </plugins>
</freya>
